* {
  padding: 0;
  margin: 0;
  line-height: 150%;
  letter-spacing: -0.3px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
li {
  list-style: none;
}
button {
  background: transparent;
  border: 0;
}
body {
}
.root {
  max-width: 1400rem;
  margin: auto;
}

:root {
  --tablet: 768px;

  --gray100:#a5a5a5;
  --gray300:#8f8f8f;
}
.content {
  max-width: 1260px;
  width: 100%;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* header */
header {
  height: 80px;
  /* border-bottom: 1px solid #d1d1d1; */
  @media screen and (max-width: 1260px) {
    padding: 0 5%;
  }
}

header > .content {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .leftBar {
}
header .leftBar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .rightBar {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
}
header .rightBar > * {
  margin: 0 4px;
  height: 100%;
}
header .rightBar .searchBtn {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1260px) {
    margin-right: 8px;
  }
}
header .rightBar .searchBtn img {
  width: 90%;
}
header .headerLoginBtn {
  /* margin-right:auto; */
}

/* common */
.noDisplay {
  display: none;
}
.dsbtn {
  padding: 0px 16px;
  border-radius: 6px;
  border: 1px solid #aaaaaa;
  color: #79767d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
.dsbtn a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
