.container {
    border:1px solid;
    width:1000px;
    height:1000px;
    align-content:center
}

.container .box {
    background:red;
    min-width:10%;
    mind-hieght:10%;

    border:1px solid;
    /* margin: 5px; */
}

.grid {
    display:grid;
    /* grid-template-columns: 100px 300px 150px 225px; */
    /* grid-template-rows:1fr 1fr 1fr; */
    /* grid-template: rows / columns */
    grid-template : repeat(3, minmax(100px,100px)) / repeat(4, 1fr);
    gap:25px;
}